# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
secrets.properties

# datagen (generated resources cache)
/src/generated/**/.cache/

# other
eclipse
run
classes
logs
run-data
gource.sh
.noai

# local maintenance documentation
/docs/
